<div style="text-align:center">
  <h2> HR Admin View </h2>
</div>
	
  <div class="form-group">
    <label >Time Card ID</label>
    <input type='text' class="form-control" ng-model="vm.userInput" placeholder="Enter Time Card ID">
  </div>

  <button type="submit" ng-click="vm.showAll()"  class="btn btn-primary">Show All TimeCards</button>
  <button type="submit" ng-click="vm.remove(vm.userInput)" class="btn btn-primary">Remove</button>
  <button type="submit" ng-click="vm.findByID(vm.userInput)" class="btn btn-primary" style>Find by Employee ID</button>

  	<pre class="timecards" ng-repeat="timecard in vm.timecards" >
  		<p>ID: {{timecard.id}}</p>
  		<p>Employee ID: {{timecard.employeeID}}</p>
  		<p>Time In: {{timecard.timeIn}}</p>
  		<p>Time Out: {{timecard.timeOut}}</p>
    </pre>

  		



